# {{{ fold (fold)

snippet fold "* {{{ ... * }}}"
`!v GetCommentString()` {{{ $1
$2
`!v GetCommentString()` }}}
endsnippet

# }}}
# {{{ // TODO: Extract (ctdex)

snippet ctdex "// TODO: Extract"
// TODO: Extract$0
endsnippet

# }}}
