# {{{ fold (fold)

snippet fold "* {{{ ... * }}}"
`!v GetCommentString()` {{{ $1
$2
`!v GetCommentString()` }}}
endsnippet

# }}}
# {{{ // TODO: [message] ctd

snippet ctd "// TODO: [message]"
// TODO: ${1:message}$0
endsnippet

# }}}
# {{{ // TODO: Extract (ctdex)

snippet ctdex "// TODO: Extract"
// TODO: Extract$0
endsnippet

# }}}
