# {{{ comment directives

# {{{ // prettier-ignore (cpi)

snippet cpi "// prettier-ignore"
// prettier-ignore$0
endsnippet

# }}}
# {{{ // eslint-disable-next-line [code] (cesdnl)

snippet cesdnl "// eslint-disable-next-line [code]"
// eslint-disable-next-line {$1:code}$0
endsnippet

# }}}

# }}}
